<%= erb :header %>

<div class="container">
    <div class="row">
        <h2>SVR</h2>
        <p>Did you mean SFR? &rarr; <a href="/sfr">YES</a> <a href="/sfr">NO</a></p>
    </div>
</div>

<%= erb :footer %>
